<footer class="footer py-4 text-center">
    <div class="container">
        <p class="mb-3 fw-bold">
            proyecto de TareasApp® :: <span></span>
        </p>
    </div>
</footer>

<script>
    let fecha = new date();
    let newFecha
</script>